/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* Fine regole generali */

/* -----------------------
    Inizio regole COL-XS
------------------------*/
.col-xs-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}
.col-xs-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}
.col-xs-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}
.col-xs-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}
.col-xs-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}
.col-xs-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}
.col-xs-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}
.col-xs-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}
.col-xs-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}
.col-xs-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}
.col-xs-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}
.col-xs-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

    /* Inizio regole OFFSET-XS */
.col-xs-offset-1 {
    margin-left: calc((100% / 12) * 1);
}
.col-xs-offset-2 {
    margin-left: calc((100% / 12) * 2);
}
.col-xs-offset-3 {
    margin-left: calc((100% / 12) * 3);
}
.col-xs-offset-4 {
    margin-left: calc((100% / 12) * 4);
}
.col-xs-offset-5 {
    margin-left: calc((100% / 12) * 5);
}
.col-xs-offset-6 {
    margin-left: calc((100% / 12) * 6);
}
.col-xs-offset-7 {
    margin-left: calc((100% / 12) * 7);
}
.col-xs-offset-8 {
    margin-left: calc((100% / 12) * 8);
}
.col-xs-offset-9 {
    margin-left: calc((100% / 12) * 9);
}
.col-xs-offset-10 {
    margin-left: calc((100% / 12) * 10);
}
.col-xs-offset-11 {
    margin-left: calc((100% / 12) * 11);
}
    /* Fine regole OFFSET-XS */
/* -----------------------
    Fine regole COL-XS
------------------------*/


