.prova .container, .prova .container-fluid {
    min-height: 50px;
    background-color: blue;
} 

.prova .row {
    min-height: 50px;
}

.prova .box {
    padding: 10px;
    min-height: 35px;
    border: 1px solid burlywood;
    background-color: darkmagenta;
    color: white;
    text-align: center;
}

.prova .nested {
    background-color: rgb(182, 179, 31);
    color: white;
    text-align: center;
    border: 1px solid black;
    min-height: 25px;
    padding: 10px;
}

.prova .big {
    padding: 10px;
    border: 1px solid burlywood;
    background-color: darkmagenta;
    color: white;
    text-align: center;
    min-height: 80px;
}