.pixel {
    height: 17.5334px;
    background-color: transparent;
    -moz-box-shadow:    inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    box-shadow:         inset 0 0 4px rgba(0,0,0,0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

body {
    width: 100%;
    height: calc(17.5334px * 32);
}

.iframe {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -162px;
    left: 3px;
    transform: scale(0.409);
    object-fit: contain;
}

.row {
    position: relative;
    z-index: 3;
}

.riga32 {
    padding-bottom: 5px;
}




