@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
    stroke: #f2385a;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
    stroke: #f5a503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
    stroke: #e9f1df;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
    stroke: #56d9cd;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
    stroke: #3aa1bf;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
	}
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
	}
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    background-size: 0.2em 100%;
    font: 5em Open Sans, Impact;
    text-transform: uppercase;
    margin: 0;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pixel {
    height: 17.5334px;
    background-color: transparent;
    -moz-box-shadow:    inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    box-shadow:         inset 0 0 4px rgba(0,0,0,0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.riga16, .riga17 {
    background-color: rgb(162, 0, 255);
}

.riga15, .riga18 {
    background-color: rgb(152, 4, 235);
}

.riga14, .riga19 {
    background-color: rgb(142, 0, 215);
}

.riga13, .riga20 {
    background-color: rgb(132, 0, 195);
}

.riga12, .riga21 {
    background-color: rgb(122, 0, 175);
}

.riga11, .riga22 {
    background-color: rgb(112, 0, 155);
}

.riga10, .riga23 {
    background-color: rgb(102, 0, 135);
}

.riga9, .riga24 {
    background-color: rgb(92, 0, 115);
}

.riga8, .riga25 {
    background-color: rgb(82, 0, 95);
}

.riga7, .riga26 {
    background-color: rgb(72, 0, 75);
}

.riga6, .riga27 {
    background-color: rgb(62, 0, 65);
}

.riga5, .riga28 {
    background-color: rgb(52, 0, 55);
}

.riga4, .riga29 {
    background-color: rgb(42, 0, 45);
}

.riga3, .riga30 {
    background-color: rgb(32, 0, 35);
}

.riga2, .riga31 {
    background-color: rgb(22, 0, 25);
}

.riga1, .riga32 {
    background-color: rgb(12, 0, 15);
}




