.pixel {
    height: 17.5334px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

body {
    width: 100%;
    height: calc(17.5334px * 32);
}

iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: scale(3.5);
}

.row {
    position: relative;
    z-index: 3;
}

.riga32 {
    padding-bottom: 5px;
}

